.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.search-bar {
    display: flex;
    width: 90%;
    max-width: 600px;
}

input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    /* 시계 방향으로 버튼과 겹치지 않는 부분만 radius 부여 */
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    transition: all 0.5s ease;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0.3rem rgba(0, 123, 255, 0.5);
    outline: none;
}

form button {
    padding: 0.58rem 1.3rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    transition: background-color 0.5s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}